body{
	background-color: black;
}
h1{
	color: white;
	text-align: center;
}
h3{
	color: white;
	text-align: center;
}
h4{
	color: white;
	text-align: center;
}
h5{
	color: white;
	text-align: center;
}
table{
	font-family: Arial;
	color: white;
	border: 1px solid white;
}